<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSCalendarsFullAccessUsageDescription</key>
	<string>Friday needs calendar access to recommend your next best focus block.</string>
	<key>NSCalendarsUsageDescription</key>
	<string>Friday needs calendar access to recommend your next best focus block.</string>
	<key>NSExtension</key>
	<dict>
		<key>NSExtensionPointIdentifier</key>
		<string>com.apple.widgetkit-extension</string>
	</dict>
</dict>
</plist>
